<!-- index.ejs: Home page template -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Welcome to RefugeConnect</h1>
  <%- include('partials/footer') %>
</body>
</html>
